html 
{
	scroll-behavior: smooth;
	background: white;
    background-image: url(images/lined-paper.png);
    background-size: cover;
	font-display: swap;
}
body
{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
h1, h2{
	margin: 0;
}
img {
  pointer-events: none;
}
hr {
    border-color: darkslategray;
}

#header_banner
{
	position: relative;
	display: block;
	width: 100%;
}
#header_logo
{
	position: relative;
	display: block;
	width: 30vw;
	left: 50%;
	margin-top: 2vw;
    margin-bottom: -3vw;
	transform: translateX(-50%);
	z-index: 2;
}
#header_divider
{
	margin-top: -1vw;
	width: 100%;
	z-index: 2;
}

#content-bg{
    position: absolute;
    display: block;
    background-color: rgba(253,253,245,0.8);
    border: .2vw solid rgba(227,227,216,0.8);
    overflow: auto;
    margin-top: -1vh;
    width: 69vw;
    height: 90vw;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

#theatre_screen
{
	position: relative;
	display: block;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
	height: 35vw;
	margin: 0;
	margin-top: 2vw;
    margin-bottom: 2vw;
	z-index: 1;
}
#about
{
	padding-top: vh;
	position: relative;
	display: block;
	left: 50%;
	transform: translateX(-50%);
}
#about-subtitle
{
	color: darkslategray;
	font-family: 'Oswald', serif;
	font-size: 5vw;
	text-align: center;
}
#about-caption
{
	color: darkslategray;
	font-family: 'Figtree';
	font-weight: 100;
	font-size: 1.5vw;
	text-align: center;
    padding-bottom: 1vw;
}
#contact-subtitle
{
	padding-top: 1vh;
	color: darkslategray;
	font-family: 'Playpen Sans', cursive;
	font-weight: 500;
	font-size: 2vw;
	text-align: center;
	margin-bottom: 0;
}
#email-caption
{
	position: relative;
	display: block;
	color: darkslategray;
	font-family: 'Playpen Sans', cursive;
	font-weight: 100;
	font-size: 1.5vw;
	text-align: center;
	margin: 00 1vh 0;
}

#footer
{
	padding-top: 6vh;
	position: relative;
	display: block;
	left: 50%;
	transform: translateX(-50%);
	color: darkslategray;
	font-family: 'Montserrat', serif;
	font-size: 1.5vh;
    font-weight: 100;
	text-align: center;
}

#icon-holder
{
	padding-top: 1vh;
}

.fa {
  	padding: 1.25vw;
  	width: 5vh;
  	text-align: center;
  	text-decoration: none;
	color: darkslategray;
}

.about_bold
{
	font-weight: 700;
}
.about_glow
{
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
	font-weight: 400;
}